@import "tailwindcss";

body {
  background-color: #f3f3f3;
}

.main-container {
  background-color: #f3f3f3;
  min-height: 100vh;
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.main-container h1 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #252525;
}

.card-container {
  text-align: left;
  background-color: #fff;
  color: #444;
  width: 310px;
  height: fit-content;
  /* white-space: no-wrap; */
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card-content {
  padding: 20px;
}

.card-container h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-container p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #666;
}

.read-more-btn {
  color: #007bff;
  font-weight: 500;
  font-size: 0.9rem;
  outline: none;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #0056b3;
  }
}

.card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-list {
  /* border: 2px solid red; */
  width: 70%;
  display: flex;
  gap: 40px;
  /* justify-content: center; */
  flex-wrap: wrap;
}
